# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
venv/
.venv/

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML
*.db
*.pth
*.h5
*.onnx
mlruns/
data/raw/
data/processed/


# Media uploads
media/uploads/
media/stitched/

media/posts/